// This file showcases the many recoverable syntax errors dt-parser+dt-lint support
/dts-v1/;

/foo/ a
/foo/
/ foo/;
/ foo /;
/ /;
#include
#define

/ {
  a = <2>
  b = <2 (3))>;
  c "AA";
  d = ;
  e = <;
  f = <0 4 5;
  = <1 2 3>;
  h = <1, 2>, <3,4>;
  i = <1> <2>;
  j = <&LAB, &{ /path }>; //  TODO: `& LABEL` and warn for `&LABEL,`
  k a b k = <1>;
  l = <1 , 2  , 3 ,>;

  bar {
    forgot-next-id;
    {
      yep = <1>;
    };
  };
};


